<%- include('partials/header') -%>
<h1>This is campgrounds page!</h1>
<h2>This page will display all the camp sites</h2>
<h3>From here, user can upload a new campground/ camp site</h3>
<a href="/campgrounds/new">Add new Campground</a>

<% campgrounds.forEach(function(campground){ %>
<div>
    <h4> <%= campground.name %> </h4>
    <img src="<%= campground.image %>" alt="will add soon">
</div>
<% }); %>
<%- include('partials/footer') -%>