<%- include('partials/header') -%>
<div class="container">
    <h1>This will Be the Landing Page of the Yelp Camp App very soon!</h1>
    <a href="/campgrounds">View all Campgrounds</a>
</div>
<%- include('partials/footer') -%>