<%- include('partials/header') -%>
<h1>Add a new Campground/ Camp Site</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="image" id="image" placeholder="Image URL">
    <input type="submit" value="Add Campground">
</form>

<a href="/campgrounds">Go back</a>
<%- include('partials/footer') -%>