body {
  background-color: rgb(243, 243, 243);
}

.jumbotron {
  padding: 4rem 0;
  margin-bottom: 2rem;
  margin-top: 50px;
  color: #000;
  background-image: url('https://wallpaperaccess.com/full/959295.jpg');
  background-size: cover;
  background-position: cover;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron p {
  font-size: 1.5rem;
}

/* navbar */
.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.navbar:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.35);
  transition: all 200ms linear;
}

.scrolled {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.35);
}

.navbar .nav-item .nav-link {
  color: #fff;
}

.navbar .nav-item .nav-link:hover {
  color: #fff;
}

.search-bar > .form-control {
  background-color: transparent;
  color: #f8f9fa;
}

.form.search {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

@media all and (max-width: 768px) {
  .form.search {
    position: absolute;
    left: 50%;
    transform: translate(-70%);
  }
}

.search-bar > .form-control:focus {
  outline: none;
  border-color: #f8f9fa;
  box-shadow: none;
}

.btn-outline-light:hover {
  color: #f8f9fa;
  background: transparent;
}

/* INDEX */
.card:hover {
  box-shadow: -8px 8px 12px rgba(150, 150, 150, 0.15),
    8px -8px 12px rgba(150, 150, 150, 0.15),
    8px -8px 12px rgba(150, 150, 150, 0.75);
  z-index: 100;
  transition: all 200ms linear;
}

ul.list-unstyled.index > li {
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #32373d6c;
  margin-bottom: 1rem;
}

ul.list-unstyled.index > li:last-child {
  border-bottom: none;
}

header {
  text-transform: capitalize;
}

/* SHOW */

header.header .title {
  padding-bottom: 1.25rem;
  border-bottom: 2px solid #dee2e6;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media all and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 2.4rem;
    padding: 0.25rem 0;
    margin: 0;
  }

  .jumbotron p {
    font-size: 1.2rem;
  }

  /* SHOW */
  .desc {
    text-align: justify;
  }

  header.header .title {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  /* BUTTONS */
  .btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 1rem !important;
  }
}

@media all and (max-width: 568px) {
  .jumbotron h1 {
    font-size: 1.8rem;
    padding: 0.25rem 0;
    margin: 0;
  }

  .jumbotron p {
    font-size: 1rem;
  }
}

.btn.danger {
  color: #dc3545;
  transition: all 200ms;
}

.btn.info {
  color: #17a2b8;
  transition: all 200ms;
}

.btn.primary {
  color: #007bff;
  transition: all 200ms;
}

.btn.effect:hover {
  transform: scale(1.4, 1.4);
}

.fa-star-o,
.fa-star {
  color: gold;
}

/* Flash Messages */
div.alert {
  text-transform: uppercase;
}

/* delete button */
button.border-none {
  border: none !important;
}

/* map */
#myMap {
  width: 100%;
  height: 400px;
  background-color: rgba(184, 184, 184, 0.705);
}

.placeholder_images {
  max-height: 300px;
  opacity: 0.8;
}

/* User Dashboard Page */
.dashboard {
  min-height: 100vh;
}

#vertical-navbar {
  background-color: #f8f9fa;
}

.img-thumbnail {
  max-width: 300px;
  margin: 0 auto;
}

img.img-dashboard {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.dashboard-name,
.dashboard-username {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
  font-family: helvetica;
}

.dashboard-name {
  text-align: end;
  font-size: 1.2rem;
  font-weight: 500;
}

.dashboard-name > button {
  padding: 0 0.5rem;
}
.dashboard-name > button > span {
  font-size: 1.5rem;
}

.list-dashboard {
  margin: 2rem 0;
  padding: 1rem 0.5rem 0;
  background-color: #e5eff5;
  border-radius: 5px;
}

.list-header {
  font-size: 1.4rem;
  font-weight: 200;
  font-family: helvetica;
  padding-bottom: 5px;
  border-bottom: 1px solid #6c757db7;
  text-transform: capitalize;
}

.list-dashboard > ul {
  list-style: none;
  padding-inline-start: 10px;
}

.list-dashboard > ul > li {
  padding: 8px 0;
  border-bottom: 1px solid #6c757d75;
}

.list-dashboard > ul > li:last-child {
  padding: 8px 0;
  border-bottom: none;
}

.list-dashboard > ul > li a {
  font-size: 1rem;
  transition: all 400ms;
}

.list-dashboard > ul > li a:hover {
  font-size: 1.1rem;
  text-decoration: none;
}

/* User Profile Page */
#profile-container .profile {
  position: relative;
  height: 100vh;
}

#profile-container .profile .cover {
  width: 100%;
  height: 80vh;
}

#profile-container .profile .profile-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  height: 300px;
  background-color: #dee2e6;
  border: 5px solid rgba(250, 238, 238, 0.466);
  border-radius: 50%;
}

#profile-container .profile .profile-circle .avatar {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 290px;
}

#profile-container .profile .name {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 25%);
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.capital {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blur {
  background-color: #ebf4ffc5;
  border-radius: 5px;
}

li.media,
li.stack {
  padding: 20px 0;
  border-bottom: 1px solid #6c757d75;
}

li.media:last-child,
li.stack:last-child {
  border-bottom: none;
}

.media-header a:hover,
.stack-header a:hover {
  transition: all 200ms;
  font-size: 1.2em;
  text-decoration: none;
}

div.media-body {
  padding: 0 20px;
}
