<%- include('../partials/header') -%>
<header class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Add New CampGround</h1>
        <a class="btn btn-primary btn-lg mt-4" href="/campgrounds">Go back</a>
    </div>
</header>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name" class="form-label sr-only"></label>
                    <input class="form-control" type="text" name="camp[name]" id="name" placeholder="Name" required />
                </div>
                <div class="form-group">
                    <label for="image" class="form-label sr-only"></label>
                    <input class="form-control" type="text" name="camp[image]" id="image" placeholder="Image URL"
                        required />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label for="price" class="form-label sr-only"></label>
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input class="form-control" type="number" name="camp[price]" id="price" value="1.00" step="0.01"
                            min="1.00" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="form-label sr-only"></label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Location"
                        required />
                </div>
                <div class="form-group">
                    <label for="desc" class="form-label sr-only"></label>
                    <textarea class="form-control" type="text" name="camp[description]" id="desc" rows="10"
                        placeholder="Add a small Description" required></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary form-control" type="submit" value="Add Campground">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>